[submodule "3_ClientDriven/Packages/com.unity.netcode.gameobjects"]
	path = 3_ClientDriven/Packages/com.unity.netcode.gameobjects
	url = https://github.com/gabrieldechichi/com.unity.netcode.gameobjects.git
